body {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
#navigation-bar {
	background-color: black;
	font-family: 'Raleway';
	color: #ccc;
}
#navigation-bar a{
	color: #ccc;
}
#navigation-bar img{
	max-width: 40%;
	max-height: 40%;
}